<% include partials/header %>

<div class="ui container main text">
	<div class="ui huge header">Edit <%= actor.name %></div>
	<form class="ui form" action="/actors/<%= actor._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Infromation</label>
			<div class="fields">
				<div class="twelve wide field">
					<input type="text" name="actor[name]" value="<%= actor.name %>">
				</div>
				<div class="four wide field">
					<input type="number" name="actor[age]" value="<%= actor.age %>">
				</div>
			</div>
		</div>
		<div class="field">
			<label>Image Url</label>
			<input type="url" name="actor[image]" value="<%= actor.image %>">
		</div>
		<div class="field">
			<label>Films Actted By Him</label>
			<input type="text" name="actor[films]" value="<%= actor.films %>">
		</div>
		<div class="field">
			<label>Description</label>
			<textarea name="actor[description]"><%= actor.description %></textarea>
		</div>
		<a class="ui red button left floated" href="/actors/<%= actor._id %>">Cancel</a>
		<button class="ui green button right floated">Updade</button>
	</form>
</div>

<% include partials/footer %>