<% include partials/header %>

<div class="ui container main">
	<% posts.forEach(function(post) { %>
		<div>
			<h3><%= post.title %></h3>
			<img src="<%= post.image %>">
			<!-- substring limits the amount of characters that will show -->
			<p><%= post.body.substring(0, 150) %>...</p>
			<p><%= post.created %></p>
			<a class="ui purple inverted button" href="/posts/<%= post._id %>">Read More</a>
		</div>
	<% }); %>
</div>

<% include partials/footer %>